


<!-- | COLLAPSE | -->
<div class="container-fluid ms-sm-4" >
    <div class="row">
        <div class="col-auto">
            <button class="btn btn-dark rounded-0 rounded-top" (click)="isCollapsed = !isCollapsed" *ngIf="isCollapsed">Filters <small>△</small></button>
            <button class="btn btn-dark rounded-0 rounded-top" (click)="isCollapsed = !isCollapsed" *ngIf="!isCollapsed">Hide [x]</button>
        </div>
        
    </div>
</div>

<!-- | MAIN | -->
<div class="container-fluid px-4 bg-light border rounded" >
    <!-- | HEADER COLLAPSED | -->
    <div class="row ps-2 py-2 pt-3" *ngIf="isCollapsed">
        <!--
        <div class="col-auto" >
            <h4> Filters </h4>
        </div>
        -->
        
        <div class="col-auto p-0 m-0" *ngFor="let list of ms.aLists">
            <button type="button" disabled class="p-0 px-2 py-1 btn btn-outline-secondary btn-sm mb-2 me-2" *ngIf="list.show"> 
                <div *ngIf="list.title == 'Saved'">All</div>
                <div *ngIf="list.title != 'Saved'">{{list.title}}</div> 
            </button>
        </div>
        
        <div class="col-auto p-0 me-2" >
            <button type="button" class="p-0 px-2 py-1 btn btn-danger btn-sm mb-2" (click)="clearAll()" *ngIf="ms.cLists.length > 0 && ms.cMovies.length > 0 && ms.cLists[0].title != 'Saved' || ms.cLists.length > 0 && ms.cMovies.length > 0 && cFilters.length > 0">
                Clear all
            </button>
            <button type="button" class="p-0 px-2 py-1 btn btn-outline-secondary btn-sm mb-2" disabled *ngIf="ms.cLists.length < 1 && ms.cMovies.length < 1 && cFilters.length < 1">
                Clear all
            </button>
        </div>
        
    </div>

    <div class="row ps-2 py-2 pt-3" *ngIf="isCollapsed && cFilters.length > 0">
        <div class="col-auto p-0 m-0" *ngFor="let f of cFilters">
            <div class="col-auto p-0 m-0" *ngIf="f.filterIsAdd">{{f.type}}s</div>
            <div class="col-auto p-0 m-0" *ngFor="let op of f.options">
                <button type="button" disabled class="p-0 px-2 py-1 btn btn-outline-secondary btn-sm mb-2 me-2" *ngIf="op.active"> {{op.name}} </button>
            </div>
        </div>
        

        
    </div>

    <!-- | HEADER !COLLAPSED | -->
    <div class="d-grid d-flex justify-content-between mt-4 pb-4 mb-4 border-bottom" *ngIf="!isCollapsed">
        <div class="col-auto" >
            <h4> Filters </h4>
        </div>

        <div class="col-auto" >
            <button type="button" class="btn btn-danger btn-sm" (click)="clearAll()" *ngIf="ms.cLists.length > 0 && ms.cMovies.length > 0 && ms.cLists[0].title != 'Saved' || ms.cLists.length > 0 && ms.cMovies.length > 0 && cFilters.length > 0" >
                Clear all
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm" disabled *ngIf="ms.cLists.length == 1 && ms.cLists[0].title == 'Saved' && cFilters.length < 1">
                Clear all
            </button>
        </div>
        
    </div>
    
    <!-- | MOVIES | -->
    <div class="row mb-4 px-3" [ngbCollapse]="isCollapsed">
        <h6 class="col-auto mb-4 px-0"> Choose movies <small>({{ms.aMovies.length}})</small></h6>
        <div class="col-w100"></div>
        <div class="col-auto px-0" *ngFor="let list of ms.aLists" (click)="addList(list)">
            <button type="button" class="btn btn-primary btn-sm me-2 mb-2" disabled *ngIf="list.show && list.title == 'Saved'">
                <div *ngIf="list.title == 'Saved'">All</div>
                
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm me-2 mb-2" *ngIf="!list.show && list.title == 'Saved'">
                <div *ngIf="list.title == 'Saved'">All</div>
                
            </button>


        </div>

        <div class="col-auto px-0" *ngFor="let list of ms.aLists" (click)="addList(list)">
            <button type="button" class="btn btn-primary btn-sm me-2 mb-2" *ngIf="list.show && list.title != 'Saved'">
                <div *ngIf="list.title == 'Saved'">All</div>
                <div *ngIf="list.title != 'Saved'">{{list.title}}</div>
                <!--<small class="text-truncate">{{list.info}}</small>-->
            </button>

            <button type="button" class="btn btn-outline-primary btn-sm me-2 mb-2" *ngIf="!list.show && list.title != 'Saved'">
                <div *ngIf="list.title == 'Saved'">All</div>
                <div *ngIf="list.title != 'Saved'">{{list.title}}</div>
                <!--<small class="text-truncate">{{list.info}}</small>-->
            </button>

        </div>
        <div class="col-auto border-start ms-2" >
            <button type="button" class="btn btn-danger btn-sm" (click)="clearLists()" *ngIf="ms.cLists.length > 0 && ms.cLists[0].title != 'Saved'">
                Clear movies
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm" disabled *ngIf="ms.cLists.length == 1 && ms.cLists[0].title == 'Saved'">
                Clear movies
            </button>
        </div>

        <div class="col-auto">
            <div class="btn-group btn-group-toggle">
                
                <button class="btn btn-primary">Edit lists</button>
                <button class="col-auto btn btn-outline-primary" data-toggle="collapse" href="#collapseExample"> +</button>
                
            </div>
    
        </div>
        
    </div>

    <!-- | FILTERS | -->
    <div class="row mb-4 px-3" [ngbCollapse]="isCollapsed" *ngFor="let cfl of cFiltersList; let i = index">
        <h6 class="col-auto mb-4 border-end"> Choose filter</h6>
        <div class="col-auto" *ngIf="i>0">
            <button type="button" class="btn btn-danger btn-sm" (click)="removeFilter(cfl)" >
                Remove filter
            </button>
        </div>
        <div class="col-w100"></div>
        
        <!--||-->
        <div class="col-auto">

            <!--||-->
            <div class="row p-0 m-0">

                <!--||-->
                <div class="col-auto p-0 m-0" *ngFor="let f of cfl.filters">
                    <button type="button" class="btn btn-success btn-sm me-2 mb-2" (click)="chooseFilter(cfl, f)" *ngIf="f.active"> {{f.type}} </button>
                    <button type="button" class="btn btn-outline-success btn-sm me-2 mb-2" (click)="chooseFilter(cfl, f)" *ngIf="!f.active"> {{f.type}} </button>
                </div>
                <!--||-->

                <div class="col-auto border-start m-0 ms-2 ps-3" >
                    <button type="button" class="btn btn-danger btn-sm" (click)="clearFilter(cfl)" *ngIf="cfl.active">
                        Clear filter
                    </button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" disabled *ngIf="!cfl.active">
                        Clear filter
                    </button>
                </div>

                
                
            </div>
            <!--||-->

            <!--||-->
            <div class="row p-0 m-0" *ngIf="cfl.activeFilter">

                <!--||-->
                <div class="row p-0 m-0" *ngIf="cfl.activeFilter.options">   
                    <h6 class="col-auto mb-4"> Choose options <small>({{cfl.activeFilter.options.length}})</small></h6>
                    <div class="col-w100"></div>

                    <!--||-->
                    <div class="col-auto p-0 m-0" *ngIf="filters[0] as allFilter">
                        <button type="button" class="btn btn-success btn-sm me-2 mb-2" disabled> 
                            <div>All</div>
                        </button>
                    </div>

                    <div class="col-auto border-start ms-2" *ngIf="cfl.activeFilter.options.length >= cfl.activeFilter.max && cfl.activeFilter.min > 0">
                        <button type="button" class="btn btn-dark btn-sm" (click)="navOptions(cfl, '-')">
                            Prev
                        </button>

                    </div>
                    <div class="col-auto p-0 m-0" style="overflow: visible;" *ngFor="let opt of cfl.activeFilter.options; count as c; let i = index;">
                        <!--||-->
                        <button type="button" class="btn btn-success btn-sm me-2 mb-2" (click)="addFilterOption(cfl.activeFilter, opt)" *ngIf="opt.active && i < cfl.activeFilter.max && i > cfl.activeFilter.min"> 
                            <div *ngIf="cfl.activeFilter.type != 'provider'">
                                {{opt.name}}
                            </div>
                            <div *ngIf="cfl.activeFilter.type == 'provider'">
                                {{opt.provider_name}} 
                            </div>
                        </button>
                        <!--||-->

                        <!--||-->
                        <button type="button" class="btn btn-outline-success btn-sm me-2 mb-2" (click)="addFilterOption(cfl.activeFilter, opt)" *ngIf="!opt.active && i < cfl.activeFilter.max && i > cfl.activeFilter.min"> 
                            <div *ngIf="cfl.activeFilter.type != 'provider'">
                                {{opt.name}} 
                            </div>
                            <div *ngIf="cfl.activeFilter.type == 'provider'">
                                {{opt.provider_name}} 
                            </div>
                        </button>  
                        
                        <!--||-->
                    </div>      
                    <div class="col-auto border-start ms-2" *ngIf="cfl.activeFilter.max < cfl.activeFilter.options.length">
                        <button type="button" class="btn btn-dark btn-sm" (click)="navOptions(cfl, '+')">
                            Next
                        </button>

                    </div>

                    <!--||-->

                    <div class="col-auto border-start ms-2" >
                        <button type="button" class="btn btn-danger btn-sm" (click)="clearOptions(cfl)" *ngIf="cfl.activeFilter.active">
                            Clear options
                        </button>
                        <button type="button" class="btn btn-outline-secondary btn-sm" disabled *ngIf="!cfl.activeFilter.active">
                            Clear options
                        </button>
                    </div>
                </div>
                <!--||-->

                
                
                

                
            </div>    
            
            
            

        </div>
        <!--||-->





    </div>

    <!--||-->
    <div class="col-auto" *ngIf="cFilters.length > 0">
        <button type="button" class="btn btn-success btn-sm me-2" (click)="addFilter()" *ngIf="filters.length > 0" >
            New filter
        </button>
        <button type="button" class="btn btn-outline-success btn-sm me-2" disabled *ngIf="filters.length < 1">
            New filter
        </button>
        
        
    </div>
    <!--||-->

</div>


<!--
<div class="" id="filter" >
    <div class="row text-white">

        <div class="col-auto text-truncate bg-dark" (click)="isCollapsed = !isCollapsed" *ngIf="isCollapsed">show</div>
        <div class="col-auto text-truncate bg-danger" (click)="isCollapsed = !isCollapsed" *ngIf="!isCollapsed">Hide</div>
    </div>

    <div class="row bg-primary text-white" (click)="''" >
        <div class="col-auto text-truncate" [ngbCollapse]="isCollapsed">
            <div class="col-12 text-truncate">
                FILTERS
            </div>
            <div class="col-12 text-truncate">
                FILTERS
            </div>
            <div class="col-12 text-truncate">
                FILTERS
            </div>
        </div>


        
        
    </div>
</div>
-->

