



<div class="container-fluid">
  <div class="row">
      
      <div class="col-12 col-sm-auto border rounded p-4 mx-auto">
        <h3 class="col-12 mb-3 text-center">Reset Password</h3>

        <form>
          <div class="form-group mb-2">
            <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
            <small id="emailHelp" class="form-text text-muted">Please enter your email address to request a password reset.</small>
          </div>
  
          <!-- Calling SignIn Api from AuthService -->
          <div class="form-group">
            <input type="submit" class="col-12 btn btn-primary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
          </div>
  

  
        </form>
       
        
        <!-- || -->



      </div>
      <div class="col-w100"></div>

      <div class="col-auto mx-auto mt-2">
        <small>
          Go back to? <a routerLink="/sign-in">Log in</a>
        </small>
      </div>
      
  </div>
</div>

  
