


<!-- | TOTOP | -->
<to-top-component></to-top-component>

<!-- | NAVIGATION | -->
<navigation-component></navigation-component>
<!-- | TITLE | -->
<header-component></header-component>

<div class="container-fluid p-4 mb-4"> <!--BUFFER-->
    <div class="row p-3 mb-3">
        <div class="col"></div>
    </div>
</div>

<search-result-component></search-result-component>

<!-- | MAIN | -->
<div class="col-12 col-md-10 col-lg-8 m-auto mb-4">
    <router-outlet ></router-outlet>
   
</div>


<!-- | FOOTER | -->
<footer-component></footer-component>