



<div class="container-fluid p-2 mt-4 border-top bg-white" id="footer" style="z-index: 2000;">
    <div class="row text-center">

        <div class="col-4 btn p-0 m-0">
            <a class="btn p-0 m-0" routerLink="/">
                Footer
            </a>
        </div>

        <div class="col-4 btn p-0 m-0 border-end border-start">
            <a class="btn p-0 m-0" routerLink="/">
                Footer
            </a>
        </div>

        <div class="col-4 btn p-0 m-0">
            <a class="btn p-0 m-0" routerLink="/">
                Footer
            </a>
        </div>

    </div>
</div>