
<div class="container-fluid" >
    <div class="row mb-4">
        <div class="col-12 p-0 m-0 mb-4 text-truncate" *ngFor="let movie of movies">
            {{ movie.title }}
            <img class="img-fluid rounded btn p-0 m-0" src="{{movie.base_url + 'w400' + movie.poster_path}}" />

        </div>
    </div>
</div>

<div class="container-fluid pb-4 mb-4" *ngIf="ms.moviesLoading"> 
    <div class="row pb-4 mb-4">
        <div class="col-w100 pb-4 mb-4"></div>
        <h6 class="col-auto mx-auto align-middle"> Loading movies ({{ms.aMovies.length}})</h6>
        <div class="col-w100 pb-2 mb-2"></div>
        <div class="col-auto mx-auto">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col m-0 p-0" >

            <div class="input-group mb-3">
                <span class="input-group-text">Show movies as</span>
                <select class="form-select"  title="show movies as" id="show-movies-as" (change)="showAsSelection($event);" [(ngModel)]="authService.user.prefs.showMoviesAs">
                  <!--
                  <option selected value="{{authService.user.settings.ageRating}}">{{authService.user.settings.ageRating}}+</option>
                  -->
                  <option *ngFor="let a of showMoviesAsOptions" value="{{a}}">{{a}}</option>
                </select>
              </div>

        </div>

        

    </div>


</div>



<div class="container-fluid" *ngIf="authService.user.prefs.showMoviesAs == 'poster'">
    <div class="row mb-4">
        <div class="col-6 col-sm-2 p-0 m-0 mb-4 text-truncate" *ngFor="let movie of ms.cMovies">
            <small class="col p-0 m-0">{{ movie.title }}</small><br/>
            
            <img class="img-fluid rounded btn p-0 m-0" src="https://via.placeholder.com/200x300?text=LOADING" *ngIf="movie.poster_loading" (click)="ms.cMovie = movie" routerLink="/movie/{{movie.id}}"/>
            <img class="img-fluid rounded btn p-0 m-0" src="{{movie.base_url + 'w400' + movie.poster_path}}" *ngIf="!movie.poster_loading" (click)="ms.cMovie = movie" routerLink="/movie/{{movie.id}}"/>
            
            <div class="row p-0 m-0" *ngIf="movie.flatrate">
                <div class="col-2 col-sm-2 p-0 m-0" *ngFor="let provider of movie.flatrate">
                    <img class="img-fluid rounded p-0 m-0" src="{{movie.base_url + 'w200' + provider.logo_path}}" ngbPopover="{{provider.provider_name}}"/>
 
                </div>
            </div>

        </div>

        

    </div>


</div>

<div class="container-fluid" *ngIf="authService.user.prefs.showMoviesAs == 'list'">
    <div class="row mb-4" *ngFor="let movie of ms.cMovies">
        <div class="col-2 p-0 m-0 py-2" >

            <img class="img-fluid rounded btn p-0 m-0" src="https://via.placeholder.com/200x300?text=LOADING" *ngIf="movie.poster_loading" (click)="ms.cMovie = movie" routerLink="/movie/{{movie.id}}"/>
            <img class="img-fluid rounded btn p-0 m-0" src="{{movie.base_url + 'w400' + movie.poster_path}}" *ngIf="!movie.poster_loading" (click)="ms.cMovie = movie" routerLink="/movie/{{movie.id}}"/>

        </div>
        <div class="col-10 p-0 m-0 p-2 text-truncate" >
            <small class="col p-0 m-0">{{ movie.title }}</small><br/>
            
            <div class="row p-0 m-0" *ngIf="movie.flatrate">
                <div class="col-2 col-sm-2 p-0 m-0" *ngFor="let provider of movie.flatrate">
                    <img class="img-fluid rounded p-0 m-0" src="{{movie.base_url + 'w200' + provider.logo_path}}" ngbPopover="{{provider.provider_name}}"/>
 
                </div>
            </div>

        </div>

        

    </div>


</div>


<filter-component class="position-fixed start-0 bottom-0 mx-sm-4 mb-sm-4" style="z-index: 60;" *ngIf="!ms.moviesLoading"></filter-component>