
<ng-template #newlist let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-new-list">New List</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<div class="input-group">

                    <div class="col-12">
                        <input type="text" class="form-control mb-2" placeholder="Name" #listname autocomplete="off" maxlength="50" required>
                    </div>
					
                    <div class="col-w100"></div>

                    <input type="text" class="form-control mb-2" placeholder="Description" #listinfo autocomplete="off" maxlength="50">
                    

				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Cancel</button>
        <button type="button" class="btn btn-outline-primary" (click)="addList({
            info:listinfo.value,
            title:listname.value
          }
        ); modal.close('Save click')"> 
        Ok
        </button>
		
	</div>
</ng-template>

<ng-template #deletelist let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-delete-list">Delete List</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		{{cList.title}}
	</div>
	<div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Cancel</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteList(cList); modal.close('Save click')"> 
        Delete
        </button>
		
	</div>
</ng-template>


<div class="position-fixed start-0 top-0 container-fluid m-2 my-4" style="z-index: 60;">
    <div class="row my-4">
        <div class="col-w100 py-1 my-1"></div>
        <div class="col-0 col-md-1 col-lg-2 p-0 m-0"></div>
        <h6 class="col-auto btn btn-outline-primary bg-white" (click)="open(newlist)">
            New List
        </h6>    
    </div>
    
</div>
  
<!-- | List component | -->
<div class="container-fluid p-0 m-0 pb-4 mb-4 border-bottom" *ngFor="let list of aLists">
    <!--  -->
    <div class="d-flex flex-row p-0 m-0 justify-content-between">
        <div class="">
            <b>{{list.title}}</b>
        </div>
        <div class="">
            <button type="button" class="col-auto btn btn-sm btn-outline-danger d-none d-sm-inline" (click)="openDeleteListModal(deletelist, list)"> 
                Delete list
            </button>
            <div type="button" class="col-auto btn btn-sm btn-outline-danger d-inline d-sm-none" (click)="openDeleteListModal(deletelist, list)"> 
                <bi name="X" class="someclass" style="height: 1.5rem;"></bi>

            </div>
        </div>
    </div>
    
    <div class="row p-0 m-0 ">
        <div class="col-auto p-0 m-0">
            <small>
                {{list.info}}
            </small>
        </div>
    </div>

    <div class="row p-0 m-0">
        <div class="col-2 col-sm-1 p-0 m-0 text-truncate" *ngFor="let movie of list.movies">
            <!--<small class="col p-0 m-0">{{ movie.title }}</small><br/>-->

            <img class="img-fluid rounded btn p-0 m-0" src="https://via.placeholder.com/200x300?text=LOADING" *ngIf="movie.poster_loading" (click)="ms.cMovie = movie" routerLink="/movie/{{movie.id}}" alt=""/>
            <img class="img-fluid rounded btn p-0 m-0" src="{{movie.base_url + 'w400' + movie.poster_path}}" *ngIf="!movie.poster_loading" (click)="ms.cMovie = movie" routerLink="/movie/{{movie.id}}" alt=""/>
        </div>


    </div>
</div>

<!--
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-auto">
            <button class="btn btn-outline-primary" (click)="open(newlist)">New List</button>



            
        </div>
        <div class="col"></div>

    </div>



</div>
-->

            <!--
            <button type="button" class="btn btn-outline-success" *ngIf="!newList" (click)="newList=true"> 
               New List
            </button>

            <div class="" *ngIf="newList">
                <input type="text" class="form-control mb-2" placeholder="List name" #listname autocomplete="off" maxlength="50" required>
                <input type="text" class="form-control mb-2" placeholder="Description" #listinfo autocomplete="off" maxlength="50">
                <div class="col-w100"></div>
                <button type="button" class="btn btn-outline-secondary me-2" (click)="newList=false"> 
                    Cancel
                </button>
                <button type="button" class="btn btn-outline-success" (click)="addList({
                        info:listinfo.value,
                        title:listname.value
                      }
                    )"> 
                    Ok
                </button>
            </div>
            -->
            

<!--
<div class="container-fluid p-4">
    <div class="row mb-4">
        <h4 class="col-auto">
            {{title}}
        </h4>
    </div>
</div>
-->
<!--<select class="form-select" multiple (change)="showMsg('hej')" [(ngModel)]="lists">
    <option *ngFor="let list of lists" [value]="list.title" [selected]="list.id == list.id">{{list.title}}</option>
    
</select>
<button type="submit">Submit</button>
-->

<!--<div class="container-fluid px-4 mb-4">
    <div class="row mb-4">
        <div class="col-auto">
            <form [formGroup]="listForm" (change)="changeList()">
                <select class="form-select" formControlName="list">
                  <option [ngValue]="null" disabled>Select list</option>
                  <option *ngFor="let list of lists" [ngValue]="list.title" selected>{{list.title}}</option>
                </select>
               
          </form>
        </div>
    </div>
</div>


<div class="container-fluid px-4 mb-4">
    cMovies
    <div class="row mb-4 border-bottom" *ngFor="let movie of ms.cMovies">
        <div class="col-12">
            <h6>{{movie.title}}</h6>
            
        </div>
        
    </div>


</div>


<div class="container-fluid px-4 mb-4">
    <div class="row mb-4 border-bottom" *ngFor="let list of cLists">
        <div class="col-12">
            <h6>{{list.title}}</h6>
            
        </div>
        
        <div class="col-12 mb-4">{{list.info}}</div>

        <div class="col-6 col-sm-2 p-0 m-0 mb-4 text-truncate" *ngFor="let movie of list.movies">


            <small class="col p-0 m-0">{{ movie.title }}</small><br/>
            <img class="img-fluid rounded btn p-0 m-0" src="{{movie.base_url + 'w400' + movie.poster_path}}" *ngIf="movie.poster_path" (click)="ms.cMovie = movie" routerLink="/movie/{{movie.id}}"/>
            
            <div class="row mb-2" *ngIf="movie.flatrate">
                <div class="col-2 col-sm-2 pe-0 text-truncate" *ngFor="let provider of movie.flatrate">
                    <img class="img-fluid rounded p-0 m-0" src="{{movie.base_url + 'w200' + provider.logo_path}}" ngbPopover="{{provider.provider_name}}"/>
 
                </div>
            </div>

            <div *ngIf="movie.certification">
                {{ movie.certification.avg_rating }}
                
            </div>

        </div>

    </div>


</div>


-->
